

#--------------------
# Built Files
*.o
*.d
Makefile
#--------------------

#--------------------
# Executables
*.exe
*.out
*.dll
*.lib
*.exp
#--------------------

#--------------------
# Visual Studio
.vs
*.sln
*.vcxproj
*.pdb
*.idb
*.ilk
*.log
*.obj
*.tlog
*.user
*.recipe
*.lastbuildstate
*.filters
#--------------------
